<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Test Export(Excel)</title>
<style type="text/css">
    #exportDiv{
        height: 100px;
        border: 2px solid cadetblue;
        padding: 10px;
    }
    .exportSpan{
        margin-right: 10px;
        margin-left: 2px;
    }
    button{
        cursor: pointer;
    }

</style>
<script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript">


    var User = function(){
        this.getData = function(){
            $("#getDataBtn").click(function() {
                var url     = $contextPath + "/testExport/getData";
                var paramsStr  = JSON.stringify(user.acquireQueryConditions());
                console.log(paramsStr);
                $.ajax({
                    url         : url,
                    type        : "POST",
                    dataType    : "json",
                    data        : {paramsStr:paramsStr},
                    success     : function(res) {
                        console.log(res);
                    },
                    error       : function(e){
                        alert("Occured error, please try again later.");
                    }

                });
            });
        };
        this.exportExcel = function() {
            $("#exportBtn").click(function() {
                var paramMap = user.acquireQueryConditions();
                var hrefStr = $contextPath + "/testExport/exportExcel?name=" + paramMap.name +
                    "&gender=" + paramMap.gender + "&age=" + paramMap.age;
                location.href = hrefStr;
                return false;
            });
        };
        this.acquireQueryConditions = function() {
            var queryConditions = {
                name      : $.trim( $("#name").val() ),
                gender    : $.trim( $("#gender").val() ),
                age       : $.trim( $("#age").val() )
            };
            return queryConditions;
        };
    };

    var user;
    $(function() {
        initPage();

        user = new User();
        user.getData();
        user.exportExcel();
    });
    
    function initPage() {
        $.ajax({
            url         : $contextPath + "/testExport",
            type        : "POST",
            dataType    : "json",
            success     : function(initData){
                console.log(initData);
            },
            error       : function(e) {
                alert("Init page occurs error!");
            }

        });
    }

</script>
</head>
<body>

    <h2>Welcome to Test Page!</h2>

    <div id="exportDiv">
        <span class="exportSpan">
            <label>Username:</label>
            <input id="name" type="text" placeholder="Please input Username" />
        </span>

        <span class="exportSpan">
            <label>Gender:</label>
            <select id="gender" >
                <option value="">Please choose</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </span>

        <span class="exportSpan">
            <label>Age:</label>
            <input id="age" type="text" placeholder="Please input age" />
        </span>

        <button id="getDataBtn">Search</button>

        <button id="exportBtn">Export</button>

    </div>

</body>
</html>